1_n8n/template/5_workflows/chatbot_zalo_telegram_gemini.json
{
  "name": "chatbot_zalo_telegram_gemini",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        -320
      ],
      "id": "16236d08-0f01-4fc8-bbd2-724c3e8776e6",
      "name": "Telegram Trigger",
      "webhookId": "051f791f-db78-49bd-b9b8-210b76d65b66",
      "credentials": {
        "telegramApi": {
          "id": "KYHIu4ZcoMBjMk46",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "systemMessage": "trả lời bằng tiếng Việt, ngắn gọn với các gạch đầu dòng"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        432,
        -416
      ],
      "id": "c51649cc-1668-44f8-aeb0-88e46c226224",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "4dtIU2BrmehBS1eT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4ef8ff3-71e8-48f3-851d-863d6154a40a",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        -320
      ],
      "id": "8d961b9b-170e-456a-b64d-2539a9c73e19",
      "name": "if_text"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        -416
      ],
      "id": "b68dea79-75b1-48bc-b730-d6cc1113a30e",
      "name": "response_answer",
      "webhookId": "d303d75a-3e0a-45a8-b726-fb61da32809c",
      "credentials": {
        "telegramApi": {
          "id": "KYHIu4ZcoMBjMk46",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendSticker",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "CAACAgIAAxkBAAM6aJruF2PJHUndTFE_dos1P7j6zBYAAm4AA0G1VgzQpYRy5txaiDYE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        -224
      ],
      "id": "29736eaa-f130-4189-a84d-1dff6bc2e84c",
      "name": "response_sticker",
      "webhookId": "d303d75a-3e0a-45a8-b726-fb61da32809c",
      "credentials": {
        "telegramApi": {
          "id": "KYHIu4ZcoMBjMk46",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "if_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "response_answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_text": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "response_sticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f4f44fa-92be-4e34-893c-49ee680dfd13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10768c26fcd6821ec7ccac19dbb327d64ae07e9e53579db4c27b55b246eccfc7"
  },
  "id": "fJDr79WVgLTXvLXk",
  "tags": [
    {
      "createdAt": "2025-08-08T09:17:11.994Z",
      "updatedAt": "2025-08-08T09:17:11.994Z",
      "id": "QkDxdqYFQvvFVMPg",
      "name": "gemini"
    },
    {
      "name": "miss_zalo",
      "id": "PhD7PRth9wMsB5SA",
      "createdAt": "2025-08-12T07:37:42.182Z",
      "updatedAt": "2025-08-12T07:37:42.182Z"
    }
  ]
}