1_n8n/template/5_workflows/chatbot_zalo_telegram_gemini.json
{
  "name": "chatbot_zalo_telegram_gemini",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        96
      ],
      "id": "19828691-0a54-4426-a9f4-fc6689b85738",
      "name": "Telegram Trigger",
      "webhookId": "051f791f-db78-49bd-b9b8-210b76d65b66",
      "credentials": {
        "telegramApi": {
          "id": "j65M4EpKhWkQzVoZ",
          "name": "Telegram DabyWhoIsMinhHuuNguyenBot account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "systemMessage": "trả lời bằng tiếng Việt, ngắn gọn với các gạch đầu dòng"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "19d1c649-699b-4574-ab78-4f200998d069",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "bkQFAFw3UUfuyFkd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4ef8ff3-71e8-48f3-851d-863d6154a40a",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "id": "64936cc3-4e62-4715-93fa-6023d2fe6e0b",
      "name": "if_text"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        0
      ],
      "id": "574e3721-cbf4-4273-ab13-3149b8876121",
      "name": "response_answer",
      "webhookId": "d303d75a-3e0a-45a8-b726-fb61da32809c",
      "credentials": {
        "telegramApi": {
          "id": "j65M4EpKhWkQzVoZ",
          "name": "Telegram DabyWhoIsMinhHuuNguyenBot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendSticker",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "CAACAgIAAxkBAAM6aJruF2PJHUndTFE_dos1P7j6zBYAAm4AA0G1VgzQpYRy5txaiDYE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        192
      ],
      "id": "6ced14ab-410b-4b8c-856a-323ea080fd0d",
      "name": "response_sticker",
      "webhookId": "d303d75a-3e0a-45a8-b726-fb61da32809c",
      "credentials": {
        "telegramApi": {
          "id": "j65M4EpKhWkQzVoZ",
          "name": "Telegram DabyWhoIsMinhHuuNguyenBot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "if_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "response_answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_text": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "response_sticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0050bd89-bb1c-46c7-bc70-86e39ab94302",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10768c26fcd6821ec7ccac19dbb327d64ae07e9e53579db4c27b55b246eccfc7"
  },
  "id": "5IRDqPAM1G6sLHA8",
  "tags": [
    {
      "createdAt": "2025-08-26T14:24:05.757Z",
      "updatedAt": "2025-08-26T14:24:05.757Z",
      "id": "j5EjMRTWEmqiyVYD",
      "name": "gemini"
    },
    {
      "createdAt": "2025-08-26T14:29:20.887Z",
      "updatedAt": "2025-08-26T14:29:20.887Z",
      "id": "VbgETN1R2B1maQaT",
      "name": "miss_zalo"
    }
  ]
}