1_n8n/template/5_workflows/news_summarizer.json
{
  "name": "news_summarizer",
  "nodes": [
    {
      "parameters": {
        "url": "https://vnexpress.net/rss/kinh-doanh.rss",
        "options": {}
      },
      "id": "8ec3c20d-6df5-4c25-80ee-ce5dbaf938f4",
      "name": "vnexpress-kinh-doanh",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -48,
        224
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://cafebiz.vn/rss/vi-mo.rss",
        "options": {}
      },
      "id": "e72bd250-3b60-4fef-9023-bc248b298e03",
      "name": "cafebiz-vi-mo",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -48,
        480
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://cafebiz.vn/rss/cau-chuyen-kinh-doanh.rss",
        "options": {}
      },
      "id": "0dd80778-e612-439c-ae09-d0bf1ce7cf54",
      "name": "cafebiz-cau-chuyen-kinh-doanh",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -48,
        672
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://cafebiz.vn/rss/bizmoney.rss",
        "options": {}
      },
      "id": "7c129310-2c93-4607-bd1e-d2691a45124e",
      "name": "cafebiz-bizmoney",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -48,
        928
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "30d4f694-9378-42b4-b1d5-cbc38fb3e7fe",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $today.minus({ days: 1 }) }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "80ba99e6-9341-48d0-bcdf-a2836a1c8730",
      "name": "filter_today",
      "type": "n8n-nodes-base.filter",
      "position": [
        624,
        688
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "maxItems": 2,
        "keep": "lastItems"
      },
      "id": "a7112ce4-4853-4a46-9b30-d2d3807e04de",
      "name": "limit_news",
      "type": "n8n-nodes-base.limit",
      "position": [
        848,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "457b91d2-b619-4dbf-b742-852bb768afb7",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        176,
        656
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "103f6980-084a-4e66-b58a-ea508bae9ddf",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "bbe67320-5478-4b9e-b104-5ac29ca6a48a",
              "name": "pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "724d2db9-e47c-43ec-baf1-5cb44187fddf",
      "name": "map_field",
      "type": "n8n-nodes-base.set",
      "position": [
        400,
        688
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "errorMessage": "Lỗi khi lấy data từ RSS"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        176,
        464
      ],
      "id": "d4d48207-9517-4c82-9258-2448d4afab0e",
      "name": "Stop and Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        880
      ],
      "id": "ff3cc442-8f59-4241-b49b-a7b4a7e03677",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "Tóm tắt nội dung chính của bài báo trong dưới 10 dòng.\nKhông nhắc lại tên bài báo.",
        "documentUrls": "={{ $json.link }}",
        "options": {
          "maxOutputTokens": 300
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        688
      ],
      "id": "9e288ee0-3682-4169-8497-f68938dfd533",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "4dtIU2BrmehBS1eT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        272
      ],
      "id": "daf4269c-9e7d-4fe1-a849-7465be938d05",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "minhhuunguyen1511@gmail.com",
        "subject": "TIN TỨC HÔM NAY",
        "emailType": "text",
        "message": "=\n{{ $json.text }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Hey Daby!!!"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1744,
        688
      ],
      "id": "0e44640d-296b-4616-85c0-0952434d5f2e",
      "name": "Send a message",
      "webhookId": "9a670e70-1d14-4aa7-9d2d-1ba57dd2b773",
      "credentials": {
        "gmailOAuth2": {
          "id": "l59fn3NMFsrRGEVR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ca0a6da-69dc-49b0-a92d-c9ed4223c9cc",
              "name": "text",
              "value": "=\n\nBÀI BÁO: {{ $('limit_news').item.json.link }}\nTÓM TẮT {{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        688
      ],
      "id": "c0d2f804-bc09-48e1-bffe-903a51e6b970",
      "name": "map_text_link"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1520,
        688
      ],
      "id": "b16d8b66-4b0b-4881-87dd-ed608ce062c7",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "vnexpress-kinh-doanh": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cafebiz-vi-mo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cafebiz-cau-chuyen-kinh-doanh": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cafebiz-bizmoney": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter_today": {
      "main": [
        [
          {
            "node": "limit_news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limit_news": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "map_field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map_field": {
      "main": [
        [
          {
            "node": "filter_today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "vnexpress-kinh-doanh",
            "type": "main",
            "index": 0
          },
          {
            "node": "cafebiz-vi-mo",
            "type": "main",
            "index": 0
          },
          {
            "node": "cafebiz-cau-chuyen-kinh-doanh",
            "type": "main",
            "index": 0
          },
          {
            "node": "cafebiz-bizmoney",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "map_text_link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "vnexpress-kinh-doanh",
            "type": "main",
            "index": 0
          },
          {
            "node": "cafebiz-vi-mo",
            "type": "main",
            "index": 0
          },
          {
            "node": "cafebiz-cau-chuyen-kinh-doanh",
            "type": "main",
            "index": 0
          },
          {
            "node": "cafebiz-bizmoney",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map_text_link": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e8d58362-25d6-465f-925a-428432d21fb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10768c26fcd6821ec7ccac19dbb327d64ae07e9e53579db4c27b55b246eccfc7"
  },
  "id": "4nRrIxd9BzMpvtVw",
  "tags": [
    {
      "createdAt": "2025-08-08T09:17:11.994Z",
      "updatedAt": "2025-08-08T09:17:11.994Z",
      "id": "QkDxdqYFQvvFVMPg",
      "name": "gemini"
    },
    {
      "createdAt": "2025-08-12T04:25:35.742Z",
      "updatedAt": "2025-08-12T04:25:35.742Z",
      "id": "AUjWX8INblT0McIX",
      "name": "done"
    }
  ]
}