1_n8n/template/5_workflows/news_summarizer.json
{
  "name": "news_summarizer",
  "nodes": [
    {
      "parameters": {
        "url": "https://vnexpress.net/rss/kinh-doanh.rss",
        "options": {}
      },
      "id": "707ce227-115f-487d-ade8-fe0336087151",
      "name": "vnexpress-kinh-doanh",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        48,
        64
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://cafebiz.vn/rss/vi-mo.rss",
        "options": {}
      },
      "id": "973d48bc-3cbb-4fb8-a2e1-267849693f99",
      "name": "cafebiz-vi-mo",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        48,
        320
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://cafebiz.vn/rss/cau-chuyen-kinh-doanh.rss",
        "options": {}
      },
      "id": "a494529e-efba-42b3-b8c3-da5e965afcca",
      "name": "cafebiz-cau-chuyen-kinh-doanh",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        48,
        512
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://cafebiz.vn/rss/bizmoney.rss",
        "options": {}
      },
      "id": "7a41cd71-2557-4e5b-aad0-0377415f1cbc",
      "name": "cafebiz-bizmoney",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        48,
        768
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "30d4f694-9378-42b4-b1d5-cbc38fb3e7fe",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $today.minus({ days: 1 }) }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dff05221-5c82-47b1-90e8-0110cecf47a5",
      "name": "filter_today",
      "type": "n8n-nodes-base.filter",
      "position": [
        720,
        528
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "maxItems": 2,
        "keep": "lastItems"
      },
      "id": "a5ccbfa8-ed86-4b5d-872c-1e0844975613",
      "name": "limit_news",
      "type": "n8n-nodes-base.limit",
      "position": [
        944,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "8767308b-c3d7-4d34-9684-89ba8b42a3b1",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        272,
        496
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "103f6980-084a-4e66-b58a-ea508bae9ddf",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "bbe67320-5478-4b9e-b104-5ac29ca6a48a",
              "name": "pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "acf5b721-4ca1-4201-9d9e-26a6749959e9",
      "name": "map_field",
      "type": "n8n-nodes-base.set",
      "position": [
        496,
        528
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "errorMessage": "Lỗi khi lấy data từ RSS"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        272,
        304
      ],
      "id": "6170623b-b9c3-48a0-905f-f1c4683d9b02",
      "name": "Stop and Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        720
      ],
      "id": "584ba30f-8ecc-4735-856a-c88cb9b94b9d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "Tóm tắt nội dung chính của bài báo trong dưới 10 dòng.\nKhông nhắc lại tên bài báo.",
        "documentUrls": "={{ $json.link }}",
        "options": {
          "maxOutputTokens": 300
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1168,
        528
      ],
      "id": "99f684dc-c1a9-478e-866b-6295fd506539",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "bkQFAFw3UUfuyFkd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        112
      ],
      "id": "cdaa0802-619d-4b2b-9b9d-03ad405046ea",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ca0a6da-69dc-49b0-a92d-c9ed4223c9cc",
              "name": "text",
              "value": "=\n\nBÀI BÁO:\n\n{{ $('limit_news').item.json.link }}\n\n{{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        528
      ],
      "id": "a3c61ad2-fbd0-410a-800e-530d06579bb6",
      "name": "map_text_link"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1616,
        528
      ],
      "id": "47c0f9ef-924d-4922-98a8-2219510d1abc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "chatId": "8409948018",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        528
      ],
      "id": "40eff174-a279-4673-8bf1-ac23de096994",
      "name": "Send a text message",
      "webhookId": "1154f99c-5dd1-4b60-83de-b3b80a0ef47e",
      "credentials": {
        "telegramApi": {
          "id": "3HvoApxW3ichfmLO",
          "name": "Telegram DabyNewsBot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "vnexpress-kinh-doanh": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cafebiz-vi-mo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cafebiz-cau-chuyen-kinh-doanh": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cafebiz-bizmoney": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter_today": {
      "main": [
        [
          {
            "node": "limit_news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limit_news": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "map_field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map_field": {
      "main": [
        [
          {
            "node": "filter_today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "vnexpress-kinh-doanh",
            "type": "main",
            "index": 0
          },
          {
            "node": "cafebiz-vi-mo",
            "type": "main",
            "index": 0
          },
          {
            "node": "cafebiz-cau-chuyen-kinh-doanh",
            "type": "main",
            "index": 0
          },
          {
            "node": "cafebiz-bizmoney",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "map_text_link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "vnexpress-kinh-doanh",
            "type": "main",
            "index": 0
          },
          {
            "node": "cafebiz-vi-mo",
            "type": "main",
            "index": 0
          },
          {
            "node": "cafebiz-cau-chuyen-kinh-doanh",
            "type": "main",
            "index": 0
          },
          {
            "node": "cafebiz-bizmoney",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map_text_link": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f8b735f-7662-45dc-8b69-4a72938d0bf6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10768c26fcd6821ec7ccac19dbb327d64ae07e9e53579db4c27b55b246eccfc7"
  },
  "id": "hij9Nl8z9kBtkcmu",
  "tags": [
    {
      "createdAt": "2025-08-26T14:24:05.757Z",
      "updatedAt": "2025-08-26T14:24:05.757Z",
      "id": "j5EjMRTWEmqiyVYD",
      "name": "gemini"
    },
    {
      "createdAt": "2025-08-26T14:24:05.852Z",
      "updatedAt": "2025-08-26T14:24:05.852Z",
      "id": "eXREZ62qmoN2h2tD",
      "name": "done"
    }
  ]
}